<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Inserir Nova Atividade</h1>
      </div>

      <i class="bi-class-name"></i>
      <!-- TODO excluir ícone-->


      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4">

        <div class="mt-3">
          <label class="form-label ">Tipo da atividade</label>
          <label style="color: red;" *ngIf="campoEstaInvalido('tipoAtividade')">*</label>
        </div>
        <select formControlName="tipoAtividade" class="tipo-consulta"
          [ngClass]="campoEstaInvalido('tipoAtividade') ? 'is-invalid-select' : ''" (change)="verificarSeEhConsulta($event)">
          <option *ngFor="let tipo of enumKeys; let i = index" [value]="i">{{tipo}}</option>
        </select>

        <div class="col-12">
          <label class="form-label ">Data</label>
          <label style="color: red;" *ngIf="campoEstaInvalido('data')">*</label>
          <input class="form-control" formControlName="data" placeholder="yyyy-mm-dd" name="dp"
            [ngClass]="campoEstaInvalido('data') ? 'is-invalid' : ''" ngbDatepicker #d="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
        
        <div class="d-flex gap-5 justify-content-center align-items-center">

          <div class="mt-3">
            <label class="form-label ">Horario de início</label>
            <label style="color: red;" *ngIf="campoEstaInvalido('horarioInicio')">*</label>
            <div class="border rounded col-4 row justify-content-center align-items-center divtimepicker"
              [ngClass]="campoEstaInvalido('horarioInicio') ? 'border-danger': ''">
              <div class="divtimepicker">
                <timepicker formControlName="horarioInicio" [showMeridian]="false">
                </timepicker>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <label class="form-label ">Horario de termino</label>
            <label style="color: red;" *ngIf="campoEstaInvalido('horarioTermino')">*</label>
            <div class="border rounded col-4 row justify-content-center align-items-center divtimepicker"
              [ngClass]="campoEstaInvalido('horarioTermino') ? 'border-danger': ''">
              <div class="divtimepicker">
                <timepicker formControlName="horarioTermino" [showMeridian]="false">
                </timepicker>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-3 g-2">
          <div>
            <label class="form-label">{{ ehConsulta ? 'Selecione apenas um médico' : 'Selecione o(s) médico(s)' }}</label>
            <label style="color: red;" *ngIf="!algumMedicoFoiSelecionado">*</label>
          </div>
          <div class="row g-2 pb-2 border rounded" [ngClass]="!algumMedicoFoiSelecionado ? 'border-danger': ''">
            <div class="col-6" *ngFor="let medico of medicosDisponiveis; let i = index">

              <div class="card border-dark">
                <div class="col-11">

                  <div class="card-body d-flex flex-column gap-1">
                    <h5 class="card-title mb-1 text-primary text-ellipsis">
                      {{ medico.nome }}
                    </h5>
                    <span class="card-text text-muted">{{ medico.crm }}</span>
                  </div>

                  <div class="form-check d-flex justify-content-end mb-4 bg-transparent">
                    <input
                    name="checkboxMedico"
                    (change)="aoMudarCheckbox($event, medico, i)"
                    class="form-check-input checkbox-card custom-checkbox" type="checkbox"
                    [value]="medico"
                    [disabled]="deveEstarDesabilitado(i)"/>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button type="submit" class="btn btn-primary px-5">
            <i class="bi bi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/atividades/listar" type="button" class="btn btn-outline-primary px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>