.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 130px;
}

.mt-custom {
  margin-top: 0.08rem;
}

.mt-custom-horario {
  margin-top: 0.1rem;
}