<div class="container">
  <div class="row">

    <div class="col-12 col-sm-10 col-lg-9 mx-auto my-5">

      <div class="text-md-start">
        <div class="text-md-start">
          <h1 class="fw-bold text-primary">Excluir Médico</h1>
          <hr />
        </div>

        <div class="div-nome">
          <span class="fs-6 fw-bolder">
            Tem certeza que deseja excluir o médico
            <span class="text-danger fs-6">{{
              medicoVM.nome.length > 100 ? (medicoVM.nome | slice:0:50) + '...' : medicoVM.nome}}
            </span>?
          </span>
        </div>

      </div>

      <dl class="form-group mt-4">
        <dt class="col">
          <label class="control-label">Nome:</label>
        </dt>
        <dd class="col-sm-2">{{
          medicoVM.nome.length > 100 ? (medicoVM.nome | slice:0:50) + '...' : medicoVM.nome}}
        </dd>

        <dt class="col-sm-2">
          <label class="control-label">Crm:</label>
        </dt>
        <dd class="col-md-8">{{ medicoVM.crm }}</dd>
      </dl>

      <div class="card-footer g-grid d-flex gap-1 mt-5">
        <button data-cy="btnExcluirTarefa" (click)="gravar()" type="button" class="btn btn-danger px-5">
          <i class="bi bi-trash-fill me-2"></i>
          Excluir
        </button>
        <button routerLink="/medicos/listar" type="button" class="btn btn-outline-primary px-5">
          <i class="bi bi-arrow-return-left me-2"></i>
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>